{% extends 'base.html' %}
{% load static %}

{% block title %}Cambio Password{% endblock %}

{% block content %}
  <form class="form-signin" method="post" action=".">
    {% csrf_token %}
    <h2 class="form-signin-heading">Cambio Password</h2>

    <label for="old_password" class="sr-only">Vecchia Password</label>
    <input type="password" class="form-control" placeholder="Vecchia Password" name="old_password" required autofocus>

    <label for="new_password1" class="sr-only">Nuova Password</label>
    <input type="password" class="form-control" placeholder="Nuova Password" name="new_password1" required>

    <label for="new_password2" class="sr-only">Ripeti Nuova Password</label>
    <input type="password" class="form-control" placeholder="Ripeti Nuova Password" name="new_password2" required>

    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Nome Utente e/o Password Errati !
      </div>
    {% endif %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Cambia</button>
  </form>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'apps/login.css' %}" >
{% endblock %}